Package: quirinux-youdown
Version: 1.1.1+q2
Architecture: all
Maintainer: Charlie Martinez <cmartinez@quirinux.org>
Depends: python3, python3-tk, ffmpeg, yt-dlp
Section: contrib/misc
Priority: optional
Description: YouDown! - Descargar videos de Youtube
 Autor: Charlie Martinez, para Quirinux GNU/Linux.
 .
 Descargar videos de youtube en mp3 y mp4.
Installed-Size: 60
